.imagem-logo{
    width: 70px;
    height: 60px;
    padding: 5px;
}

.resumo-produto{
    margin-bottom: 25px;
    width: 50%;
    padding: 20px 15px 0 3px;
    padding-right: 7%;
}

.titulo-resumo{
    font-size: 36px;
    font-weight: 500;
}

.subtitulo-resumo{
    padding-top: 40px;
    font-size: 16px;
    color: #48514c;
}

.span-resumo-produto{
    color:#E38F22 ;
}

.btn-filtrar{
    background-color: lightgrey;
    border-radius: 4px;
    border: 1px solid rgb(34, 29, 49);
}

.btn-filtrar-active{
    background-color: green;
    
}

.container-conteudo{
    background-color: #f8f9fa !important;
    color: #103C61;
    padding: 0 5.1%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container-apresentacao-produto{
    padding-top: 25px;
    display: flex;
}

.imagem-watching{
    width: 100%;
    height: 380px;
    border-radius: 35px;
}

.container-imagem{
    display: flex;
    flex-direction: column;
    width: 50%;
}


/* Classes abaixo são específicas para o menu */

.navbar{
    padding:5%;
    border-bottom: 1px solid #edeff2;
    border-bottom-style: ridge;
}

.navbar-brand{
    padding:0;
}

.nav-link{
    color: #48514c !important;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.nav-link:hover{
    color: #E78200 !important;
}